*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
rapport*/*.lof
rapport*/*.out
rapport*/*.log
rapport*/*.toc
rapport*/*.blg
rapport*/*.bbl
rapport*/*.aux
rapport*/*.idx
rapport*/auto
rapport_S4/Partie/#Organisation.tex#
rapport_S4/Partie/.#Organisation.tex#
